<div>
    Learn session complete
</div>

<!-- TODO: Statistics -->

<div>
    <%= if @can_create do %>
        <%= start_session_button @conn, "Again?" %>
    <% else %>
        You're good, you have no more words for repetition
    <% end %>
</div>