<h1>Welcome to Rafiyol</h1>
<h3><b>R</b>ybin's <b>a</b>pp <b>f</b>or <b>i</b>mprove <b>yo</b>ur <b>l</b>exicon</h3>

<p>With my service, you will be able to quickly and effectively learn foreign words.</p>

<%= button "Quick Registration", to: Routes.user_path(@conn, :new), method: :get, class: "btn btn-primary" %>
