<%= form_for @changeset, @action, fn f -> %>

<div class="mb-3">
  <%= bootstarp_input_group f, :self, :text, @changeset.action, "Word" %>
</div>

<div class="mb-3">
  <%= bootstarp_input_group f, :translation, @changeset.action %>
</div>

<%= submit "Submit", class: "btn btn-primary" %>

<% end %>
